@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700italic,700,600italic,400italic,300italic' rel='stylesheet");

/* Adjust:
	border colour, 
	horizontal padding (#job-ad-header, #job-ad-content, #job-ad-footer), 
	vertical margin (.job-ad-part), 
	header and footer background images, 
	copy styling for header and anchor tags, generic fonts and line heights.
*/

#job-ad-template *
{
	margin: 0;
	padding: 0;
	border-width: 0;
	text-align: left;
	outline: 0;
}
#job-ad-template
{
	overflow: hidden;
	float: left;
	
	border-radius: 0;
}
#wrapper #job-ad-template{
	width: 60%;
	margin-top: -60px;
}
#job-ad-template.job-ad-mickey
{
	width: 536px;
}

.inner-banner{
	background-color: #866398;
}
.apply-now-link a{
	background-color: #866398;
	border-color: #866398;
}
body.job-ad-theme .apply-now-link a:hover{
	background-color: #000;
	border-color: #000;
}
#map{
	border: 5px solid #866398;
}
h2{
	color: #866398;
}
h2:after{ display: none;}
h4{
	color: #866398;
}



.page-head .job-ad-head-meta span{
	border-right: 2px solid #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 12px;
}
.page-head .job-ad-head-meta span:last-child{
	border-right:none;
}

#job-ad-template a
{
	text-decoration: none;
	color: #faa21d;
}
#job-ad-template a:hover, 
#job-ad-template a:focus, 
#job-ad-template a:active
{
	text-decoration: none;
	color: #333;
}
#job-ad-template p
{
	margin: 0 0 1.5em 0;
}
#job-ad-template ul
{
	padding: 0 0 0 18px;
	margin: 0 0 1.5em 0;

	list-style: disc;
}
#job-ad-template ol
{
	padding: 0 0 0 24px;
	margin: 0 0 1.5em 0;
}
#job-ad-template ol li
{
	padding: 0;
	margin: 0;
}
#job-ad-template ul li
{
	display: list-item;
	padding: 0;
	margin: 0;
	
	list-style: disc;
}
#job-ad-template li:before
{
	display: none;
}
#job-ad-template #job-ad-content{}
#job-ad-template .job-ad-part
{
	margin: 0 0 15px 0; /* vertical margin here */
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
#job-ad-template #job-ad-header
{
	overflow: hidden;
	position: relative;
	padding: 1.5em;

	background: #E5E6E8;
}
#job-ad-template.has-logo-0 #job-advertiser-logo
{
	display: none;
}
#job-ad-template #job-advertiser-logo
{
	position: relative;
	z-index: 10;
	float: right;

	width: 80px;
	height: 80px;

	background-repeat: no-repeat;
	background-position: right 50%;
	background-size: auto 100%;
}
#job-ad-template #job-ad-title h1
{
	position: relative;
	z-index: 10;

	padding: 0;
	border: 0;
	margin: 0;
	
	/* copy and paste styles from h3 here */
	line-height: 1.2;
	font-size: 30px;
	font-weight: 400;
	text-transform: capitalize;
	color: #414042;
}
#job-ad-template .job-ad-option
{
	
	
}
#job-ad-template .job-ad-optional-heading, 
#job-ad-template .job-ad-optional-text
{

}
.job-ad-optional-heading
{
	padding: 0 1em 0 0;
	font-weight: 700;
	color: #866398;
}
#job-ad-template .job-ad-optional-text div
{
	display: inline-block;
}
#job-ad-template #job-ad-footer a
{
	display: block;
	padding: 0.5em 0;
	
	text-align: center;
	background: #E5E6E8;
	color: #333;
}
#job-ad-template #job-ad-footer a:hover, 
#job-ad-template #job-ad-footer a:focus, 
#job-ad-template #job-ad-footer a:active
{
	background: #333;
	color: #fff;
}

.job-detailtop-title{
	display: none;
}
.jobdetail-options >div{
	margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
	#wrapper #job-ad-template{
		width: 100%;
		margin-top: 0;
	}
}
@media screen and (max-width: 599px) {

	#job-ad-template #job-ad-title h1
	{
		font-size: 20px;
	}
	
	#job-ad-template .job-ad-option
	{
		margin: 0.5em 0;
	}
	#job-ad-template .job-ad-option, 
	#job-ad-template .job-ad-optional-heading, 
	#job-ad-template .job-ad-optional-text, 
	#job-ad-template .job-ad-optional-text div
	{
		display: block;
	}
	.page-head .job-ad-head-meta span{
		display: block;
		border-right: none;
	}
}
@media screen and (max-width: 479px) {

	#job-ad-template #job-ad-header h2
	{
		margin-bottom: 0.5em;	
	}
	#job-ad-template #job-ad-header h2, 
	#job-ad-template #job-advertiser-logo 
	{
		float: none;
		width: auto;
	}

}

