@import "mixins";
@import "variables";


$roundness: 20px 0 20px 0;

.grid {
	@include clearfix;
	.item {
		float: left;
    }
    
	img {
		display: block;
		// border-radius: nth($roundness, 1);
		width: 100%;
	}
}



.tvholderContainer{
    background-color: rgb(54,54,54);
    
.tvholder{
    // width: 70%;
    margin: 0 auto;
    display: block;

    img{
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 20px;

    }

    #videoplayer {
        background-image: url(/media/smaart-recruitment-2015/images/smaart-tv.svg);
        background-repeat: no-repeat;
        background-position: center;
        /* background-size: 800px; */
        height: 650px;

        #videoframe {
            height: 70%;
            position: relative;
            left: 18%;
            top: 33%;
            width: 80%;

            
            @media screen and (max-width: 320px) {
                height: 208px;
                position: relative;
                left: 59px;
                top: 271px;
                width: 265px;
              }

              @media screen and (max-width: 360px) {
                height: 208px;
                position: relative;
                left: 59px;
                top: 271px;
                width: 265px;
              }

              @media screen and (max-width: 375px) {
                height: 208px;
                position: relative;
                left: 59px;
                top: 271px;
                width: 265px;
              }

              @media screen and (max-width: 412px) {
                height: 248px;
                position: relative;
                left: 67px;
                top: 265px;
                width: 307px;
              }

      

            iframe{
                width: 81%;
                height: 91%;

                @media screen and (max-width: 320px) {
                    width: 81%;
                    height: 42%;
                    margin-top: 31px;
                  }

                @media screen and (max-width: 360px) {
                    width: 81%;
                    height: 49%;
                    margin-top: 26px;
                  }


                  @media screen and (max-width: 375px) {
                    width: 81%;
                    height: 51%;
                    margin-top: 26px;
                  }

                  @media screen and (max-width: 412px) {
                    width: 81%;
                    height: 56%;
                    margin-top: 22px;
                  }

                  @media screen and (max-width: 375px) {
                    width: 81%;
                    height: 58%;
                    margin-top: 21px;
                  }
            }
        }

        

    }
}
}


.videoContainer{    
    .youtubeFeatureddiv{
        background-color: $color-purple;      
            #youtubeFeatured{
                width: 100%;
                margin: 0 auto;
                padding-top: 10px;
                display: block;
                h1{
                    color: #fff;
                    font: 40px/1 "SlimJoe", "Myriad Pro", Arial, Helvetica, sans-serif;
                    strong {
                        font-family: "BigJohn", "Arial Black", Arial, Helvetica, sans-serif;
                        display: block;     
                    }
                }
                h1::first-letter{
                    color: #fff;
                }

            }
            .featuregrid {
                @include clearfix;
                .item {
                    float: left;
                }
                
                img {
                    display: block;
                    // border-radius: nth($roundness, 1);
                    width: 100%;
                }

                .yt-thumbnail-container {
                    padding: 3px;
                }
            }


            
    }
    .youtubeContainerdiv{
        text-align: center;
        color: $color-1;
        background-color: white;


        /* Clear floats after the columns */
        .row:after {
            content: "";
            clear: both;
            display: table;
        }

        h1{
            color: #00acd4;
            font: 40px/1 "SlimJoe", "Myriad Pro", Arial, Helvetica, sans-serif;
            strong {
                font-family: "BigJohn", "Arial Black", Arial, Helvetica, sans-serif;
                display: block;    
                padding-bottom: 20px;                        
                
            }
        }
        h1::first-letter{
            color: #00acd4;
        }
    }
}


